// Overriding
.container-fluid, .row {
  height: 100%;
}

.login-form {
  width: 300px;
}

.col-md-12 {
  display: flex;
  justify-content: center;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
