<ul
  nz-menu
  [nzMode]="'inline'"
  style="width: 240px;"
  [nzTheme]="'light'"
>
  <li nz-menu-item routerLink="/home/novo-caderno">
    <span title><i nz-icon nzType="form"></i> Adicionar </span>
  </li>
  <li nz-submenu>
    <span title><i nz-icon nzType="form"></i> Cadernos</span>
    <ul>
      <li *ngFor="let n of notebooks" nz-menu-item (click)="openNotebook(n)">{{n.name}}</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i nz-icon type="setting"></i> Minha Conta </span>
    <ul>
      <li nz-menu-item>Perfil</li>
      <li nz-menu-item (click)="logout()">Sair</li>
    </ul>
  </li>
</ul>
